/* Typo */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
body,
h1,
h2,
h3,
h4 {
  font-family: 'Lato', sans-serif;
}

/* Split screen */
.container {
  height: 100%;
  position: fixed;
  z-index: 1;
}

.left {
  left: 0;
  background-color: rgb(245, 245, 245);
}

.right {
  right: 0;
  background-color: white;
}

/* Elements */
.players {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.player2 {
  color: rgb(160, 160, 160);
}

.block {
  width: 6.2rem;
  height: 4.5rem;
  background-color: rgb(255, 0, 34);
  position: absolute;
  top: 70%;
  left: 45%;
}

.current {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.6rem;
}

/* Scores */
.scoreRound {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top: 0.5rem;
}

.scoreGlobal {
  position: relative;
  font-size: 4.5rem;
  color: rgb(245, 96, 96);
  top: 33%;
  text-align: center;
}

/* Dots */
.dot1 {
  height: 15px;
  width: 15px;
  background-color: rgb(245, 96, 96);
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 15px;
  width: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
}

/* Middle elements */
button {
  position: absolute;
  left: 47%;
  font-size: 1.3rem;
  z-index: 1;
  border: 0px;
  background-color: inherit;
  color: rgb(139, 139, 139);
  text-align: center;
}

.newGame {
  top: 10%;
  margin-left: -20px;
}

.hold {
  top: 76%;
}

.rollDice {
  top: 66%;
  margin-left: -20px;
}

.dice {
  position: absolute;
  width: 6rem;
  height: 6rem;
  background-color: white;
  top: 31%;
  left: 47.5%;
  z-index: 1;
  box-shadow: 0px 0px 20px rgb(223, 223, 223);
}

ion-icon {
  color: rgb(245, 96, 96);
}
